
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 277 57% 16%;
    --primary-foreground: 210 40% 98%;

    --secondary: 350 70% 46%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 26 75% 56%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 277 57% 16%;

    --radius: 0.5rem;

    --sidebar-background: 277 57% 16%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 26 75% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 277 40% 25%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 277 40% 25%;
    --sidebar-ring: 26 75% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.logo-container img {
  max-height: 40px;
  width: auto;
}

.icon-container img {
  max-height: 32px;
  width: auto;
}
